In [2]:
a = 9
b = 6

#pertambahan
hasil = a + b
print("\n hasil pejumlahan =", hasil)

#pengurangan
hasil = a - b
print("\n hasil pengurahan =", hasil)

#perkalian
hasil = a * b
print("\n hasil perkalian =",hasil)

#pembagian
hasil = a / b
print("\n hasil pembagian =",hasil)

#modulus
hasil = a % b
print("hasil modulus =", hasil)

 hasil pejumlahan = 15

 hasil pengurahan = 3

 hasil perkalian = 54

 hasil pembagian = 1.5
hasil modulus = 3

In [6]:
a = 10
print('a = 10 ->',a)

a += 5
print('a += 5 ->',a)

a -= 3
print('a -= 3->',a)

a *= 6
print('a *= 6->',a )

a /= 8
print('a /= 8->',a)

a = 10 -> 10
a += 5 -> 15
a -= 3-> 12
a *= 6-> 72
a /= 8-> 9.0

In [9]:
#latihan

5*2**2+10/20

20.5

In [15]:
#perbandingan

a,b=9,6

print(a, '>',b, '=',a>b)
print(a,'<',b,'=',a<b)
print(a,'==',b,'=',a==b)
print(a,'!=',b,'=',a!=b)
print(a,'>=',b,'=',a>=b)

9 > 6 = True
9 < 6 = False
9 == 6 = False
9 != 6 = True
9 >= 6 = True

In [25]:
#latihan2

print('400<100=',400<100)
print('10 x 2= 20:',10*2==20)
print('50>10=',50>10)
print('50 x 2 != 100=',50*2 != 100)
print('2 x 3 x 4 >= 24=',2*3*4 >= 24)

400<100= False
10 x 2= 20: True
50>10= True
50 x 2 != 100= False
2 x 3 x 4 >= 24= True

In [44]:
#operator logika

a < 5 and a < 10

nilai1 = True
nilai2 = False
nilai3 = True

print("nilai1 dan nilai2 = " + str(nilai1 and nilai2))
print("nilai1 dan nilai2 = " + str(nilai1 and nilai3))

a < 5 or a < 10

nilai1 = True
nilai2 = False
nilai3 = True

print("nilai1 dan nilai2 = " + str(nilai1 or nilai2))
print("nilai1 dan nilai2 = " + str(nilai1 or nilai3))

nilai1 dan nilai2 = False
nilai1 dan nilai2 = True
nilai1 dan nilai2 = True
nilai1 dan nilai2 = True

In [43]:
#latihan 3
 
murah = True
diskon = True

print("murah dan diskon = " + str(murah and diskon))
print("tidak laku = " + str(not murah and not diskon))

murah dan diskon = True
tidak laku = False

In [47]:
a = 5
b = 5
list_a = [1, 2, 3]
list_b = [1, 2, 3]
nama_a = 'budi'
nama_b = 'budi'

# output True
print('a is b :', a is b)
# false False
print('a is not b :',a is not b)

# output false
print('list a is list b :', list_a is list_b)
# false True
print('nama a == nama b :',list_a == list_b)

# output True
print('nama a is nama b :', nama_a is nama_b)
# false False
print('nama a is not nama b :', nama_a is not nama_b)

a is b : True
a is not b : False
list a is list b : False
nama a == nama b : True
nama a is nama b : True
nama a is not nama b : False

In [54]:
perusahaan = 'microsoft'
list_pulau = ['jawa', 'sumatra', 'sulawesi']

mahasiswa = {
    'nama': 'patrick',
    'asal': 'Bikini Bottom'
}

print(
"apakah 'c' ada di variabel perusahaan?", 'c' in perusahaan)

print(
"apakah 'z' tidak ada di variabel perusahaan?", 'c' not in perusahaan)

print(
"apakah 'jawa' ada di list pulau?", 'jawa' in list_pulau)

print(
"apakah 'jawa' ada di list pulau?", 'jawa' not in list_pulau)

apakah 'c' ada di variabel perusahaan? True
apakah 'z' tidak ada di variabel perusahaan? False
apakah 'jawa' ada di list pulau? True
apakah 'jawa' ada di list pulau? False

In [63]:
print(format(0, '08b'))
print(format(1, '08b'))
print(format(2, '08b'))
print(format(3, '08b'))
print(format(4, '08b'))
print(format(5, '08b'))
print(format(6, '08b'))
print(format(7, '08b'))
print(format(8, '08b'))
print(format(9, '08b'))
print(format(10, '08b'))
print(format(64, '08b'))
print(bin (b))

00000000
00000001
00000010
00000011
00000100
00000101
00000110
00000111
00001000
00001001
00001010
01000000
0b1000000

In [66]:
#biner dari kata HALLO

#H=104
print('huruf h:',format(104, '08b'))
#A=101
print('huruf e:',format(101, '08b'))
#L=108
print('huruf l:',format(108, '08b'))
#L=108
print('huruf l:',format(108, '08b'))
#o=111
print('huruf o:',format(111, '08b'))

huruf h: 01101000
huruf e: 01100101
huruf l: 01101100
huruf l: 01101100
huruf o: 01101111